/*** ESSENTIAL STYLES ***/
#menu {
	background-color: #ffffff;
	border:1px solid #ededed;
}
.sf-menu {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.sf-menu > li:first-child {}
ul.sf-menu > li {
	float: left;
	z-index: 10;
	position:relative;
	border-radius:0;
	padding:23px 15px;
	width: auto;
	border-right:1px solid #ededed;
	text-align:center;
	display:block;
	vertical-align:top;
	line-height:15px;
}
ul.sf-menu > li > a {
	vertical-align:top;
	display:inline-block;
	z-index: 1;
	position: relative;
	font-size:14px;
	color: #31353d;
	text-decoration:none;
	line-height:30px;
	text-transform:uppercase;
	font-family: 'Helvetica Neue', sans-serif!important;
}
ul.sf-menu > li.current>a, ul.sf-menu > li>a:hover, ul.sf-menu > li.sfHover>a, ul.sf-menu > ul > li.active>a  {
	color: #efc94c;
}
.sf-menu .sf-mega {
	display: none;
	z-index: 99;
	position: absolute;
	z-index: 5;
	background-color: #ffffff;
	border:1px solid #ededed;
	left:0;
	top:76px
}
/*** mega menu dropdown ***/
.sf-mega {
	padding:15px 0;
}
.sf-mega-section {
	display:table-cell;
}
.sf-mega-section >li {
	position:relative;
	padding:4px 20px;
	width:170px;
	line-height:20px;
	text-align:left;
}
.sf-mega-section >li a:hover, .sf-mega-section >li.sfHover>a {
	color: #efc94c;
}
.sf-mega-section >li a {
	color: #31353d;
}
.sf-mega-section >li ul {
	position:absolute;
	left:170px;
	width:170px;
	background-color: #ffffff;
	border:1px solid #ededed;
	padding:15px 20px;
	top:-15px;
	z-index:10;
	display:none;
}
.sf-mega-section >li ul li{
	padding:4px 0px
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content:'\f107';
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	display: inline;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height:0px;
	height: auto;
	margin-top: 0;
	text-decoration: inherit;
	vertical-align: middle;
	width:1.45em;
	padding-left:3px;
	font-size:16px;
	color:#31353d;
}
.sf-arrows .current .sf-with-ul:after{color:#efc94c;}
.sf-mega-section .sf-with-ul:after {
	content:'\f105';
	font-size:16px;
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/*****************************************************/

.sf-menu-phone {display:none;}
.sf-menu-phone li { 
	position: relative;
	background-color:#f9f9f9;
}
.sf-menu-phone li a { display: inline-block;  color: #fff;  border-bottom:1px solid #e8e8e8;}
.sf-menu-phone  li {   font-size: 14px; padding: 0; }
.sf-menu-phone  li > a {padding: 10px 15px; display: block;}
.sf-menu-phone  li li  a {padding: 10px 15px 10px 25px; display: block; }
.sf-menu-phone  li li li a {padding: 10px 15px 10px 35px; display: block;}
.sf-menu-phone li a:hover { color: #B90100; }
.sf-menu-phone li li {font-size: 14px;}
.sf-menu-phone li li.last { padding-bottom: 0 !important;  }
.sf-menu-phone li i {
	position: absolute;
	display: block;
	top: 2px;
	right: 0;
	height: 24px;
	width: 24px;
}
.sf-menu-phone  li  i {top: 8px;color:#666; font-size:21px; padding:0 20px; right:5px}
.sf-menu-phone  li i.icon-angle-up:before {content:'\f106' !important}
.sf-menu-phone li i:hover { cursor: pointer; }
.sf-menu-phone li i.opened { background-position: center 7px; }

/** dropdown **/
.sf-menu-phone ul {  width: auto;  padding: 0px 0px;  display: none;  }
.sf-menu-phone  li.active > a > span {color: inherit;}
.sf-menu-phone  li.active > a,
.sf-menu-phone  li:hover > a { color: #fff; background: #f9f9f9; }

.sf-menu-phone li li.active > a,
.sf-menu-phone li li a:hover {color: #ccc;}
header.ts-header .header-top .sf-menu-phone a{color: #666;}





















